@model ArticleShop.Models.OrderFinalizationViewModel

@{
    ViewData["Title"] = "Finalize";
}

<div class="container">
    <h1>Order finalization</h1>
    <div class="row">
        <div class="col-lg-6" style="background-color:yellow;">
            <h3>Order content:</h3>
            <div class="table-container">
                <table class="main-table" id="searchTable">
                    <tr>
                        <th>
                            Article
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>

                    @foreach (var item in Model.OrderedArticles)
                    {
                        <tr>
                            <td>
                                @item.Article.Name
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @($"{@item.Article.Price * @item.Quantity}$")
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <h3>Total price: @Model.OrderedArticles.Sum(item => item.Quantity * item.Article.Price)$</h3>
        </div>
        <div class="col-lg-6" style="background-color:pink;">
            <p>Personal data</p>
            <div class="outer-form-container">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="DeliveryInfo.FirstName" class="control-label"></label>
                        <input asp-for="DeliveryInfo.FirstName" class="form-control" />
                        <span asp-validation-for="DeliveryInfo.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryInfo.LastName" class="control-label"></label>
                        <input asp-for="DeliveryInfo.LastName" class="form-control" />
                        <span asp-validation-for="DeliveryInfo.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryInfo.Email" class="control-label"></label>
                        <input asp-for="DeliveryInfo.Email" class="form-control" />
                        <span asp-validation-for="DeliveryInfo.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryInfo.City" class="control-label"></label>
                        <input asp-for="DeliveryInfo.City" class="form-control" />
                        <span asp-validation-for="DeliveryInfo.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryInfo.Street" class="control-label"></label>
                        <input asp-for="DeliveryInfo.Street" class="form-control" />
                        <span asp-validation-for="DeliveryInfo.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryInfo.HouseNumber" class="control-label"></label>
                        <input asp-for="DeliveryInfo.HouseNumber" class="form-control" />
                        <span asp-validation-for="DeliveryInfo.HouseNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryInfo.PostalCode" class="control-label"></label>
                        <input asp-for="DeliveryInfo.PostalCode" class="form-control" />
                        <span asp-validation-for="DeliveryInfo.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

