@model IEnumerable<ArticleShop.Models.Database.Article>

@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link rel="Stylesheet" href="~/css/grid_with_search_v2.css" />
}

<div class="table-container">
    <h1>Articles</h1>
    <div class="upper-div">
        <form asp-action="Search" method="get">
            <input type="search" id="searchbar" placeholder="Search.." name="searchValue">
            <input type="submit" value="Search"/>
        </form>
        
        
        <p class="newLink">
            <a asp-action="Create">Create a new article</a>
        </p>
    </div>

    <div class="container mt-5 article-grid">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (var article in Model)
            {
                <div class="col grid-col">
                    <div class="card">
                        <img class="card-img-top" src="@article.ImagePath" alt="@article.Name image" height="250" width="250">
                        <div class="card-body">
                            <h5 class="card-title">@article.Name</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: @(article.Price)$</li>
                            <li class="list-group-item">Category: <span class="article-category">@article.Category.Name</span></li>
                            <li class="list-group-item">Expires: @article.ExpiryDate</li>
                        </ul>
                        <div class="card-body">
                            @Html.ActionLink("Edit", "Edit", new { article.Id }, new { @class = "card-link" })
                            @Html.ActionLink("Details", "Details", new { article.Id }, new { @class = "card-link" })
                            @Html.ActionLink("Delete", "Delete", new { article.Id }, new { @class = "card-link" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
