@model ArticleShop.Models.CartViewModel

@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link rel="Stylesheet" href="~/css/shop_cart_styling_v3.css" />
}

<h6>Your current role: @(TempData.Peek("role") ?? "Not set")</h6>

@if (Model.CartArticles.Count() > 0)
{
    <div class="table-container">
        <h1>Articles</h1>
        <table class="main-table">
            <tr>
                <th>
                    Photo
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>
                <th>
                    Expires
                </th>
                <th>
                    Quantity
                </th>
            </tr>

            @foreach (var cartArticle in Model.CartArticles)
            {
                var article = cartArticle.Article;
                <tr>
                    <td>
                        <img src="@article.ImagePath" height="80" width="80" alt="@article.Name image" />
                    </td>
                    <td>
                        @article.Name
                    </td>
                    <td>
                        @article.Price
                    </td>
                    <td>
                        @article.Category.Name
                    </td>
                    <td>
                        @article.ExpiryDate
                    </td>
                    <td>
                        <div class="cart-div">
                            <div class="items-in-cart">
                                <form asp-action="RemoveFromCart" method="get">
                                    <input type="hidden" name="articleId" value="@article.Id" />
                                    <button type="submit" class="remove-from-cart-button">
                                        -
                                    </button>
                                </form>
                                <p>@cartArticle.Quantity</p>
                                <form asp-action="AddToCart" method="get">
                                    <input type="hidden" name="articleId" value="@article.Id" />
                                    <button type="submit" class="add-to-cart-button">
                                        +
                                    </button>
                                </form>
                            </div>
                            <div class="remove-all">
                                <form asp-action="RemoveAllFromCart" method="get">
                                    <input type="hidden" name="articleId" value="@article.Id" />
                                    <button type="submit" class="remove-all-button">
                                        Remove All
                                    </button>
                                </form>
                            </div>                            
                        </div>
                    </td>
                </tr>
            }
        </table>
        <h2>Total cost: @Model.CartArticles.Sum(a => a.Article.Price * a.Quantity)</h2>
        <form asp-action="FinalizeOrder" method="get">
            <button type="submit" class="finalize-button">
                Finalize Order
            </button>
        </form>
    </div>
} else
{
    <h1>Your shopping cart is empty</h1>
}

