@model ArticleShop.Models.ShopViewModel

@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link rel="Stylesheet" href="~/css/shop_list_styling_v4.css" />
}

<div class="table-container">
    <div class="roleDiv">
        <h2>Choose Your Role</h2>
        <h6>Your current role: @(TempData.Peek("role") ?? "Not set")</h6>

        @using (Html.BeginForm("ChooseRole", "Shop", FormMethod.Get))
        {
            <button class="roleButton" type="submit" name="role" value="customer">Customer</button>
            <button class="roleButton" type="submit" name="role" value="seller">Seller</button>
        }
    </div>
    

    <h1>Articles</h1>
    <div class="upper-div">
        <form asp-action="Search" method="get">
            <input type="search" id="searchbar" placeholder="Search.." name="searchValue">
            <input type="submit" value="Search" />
        </form>
        <form asp-action="SearchCategory" method="get">
            <select asp-for="SelectedCategory" name="categoryId" asp-items="@Model.Categories" id="searchedCategory" style="margin:20px;"></select>
            <input type="submit" value="Filter" />
        </form>
    </div>
    <table class="main-table" id="searchTable">
        <tr>
            <th>
                Photo
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Expires
            </th>
            <th></th>
        </tr>

        @foreach (var article in Model.Articles)
        {
            <tr>
                <td>
                    <img src="@article.ImagePath" height="80" width="80" alt="@article.Name image" />
                </td>
                <td>
                    @article.Name
                </td>
                <td>
                    @article.Price
                </td>
                <td>
                    @article.Category.Name
                </td>
                <td>
                    @article.ExpiryDate
                </td>
                <td>
                    @{
                        var quantity = Model.ArticlesInCart.GetValueOrDefault(article.Id, 0);
                        bool isDisabled = quantity == 0;
                    }
                    <div class="add-remove-buttons">
                        <form asp-action="RemoveFromCart" method="get">
                            <input type="hidden" name="articleId" value="@article.Id" />
                            <button type="submit" @(isDisabled ? "disabled" : "") class="remove-from-cart-button">
                                -
                            </button>
                        </form>
                        <p>@quantity</p>
                        <form asp-action="AddToCart" method="get">
                            <input type="hidden" name="articleId" value="@article.Id" />
                            <button type="submit" class="add-to-cart-button">
                                +
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
